.box{
    width: 90%;
    margin: 100px auto;
    height: 500px;
}
li{
    font-size: 22px;
    margin: 20px 0;
}
.box img{
    display: inline-block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 5px rgba(40, 176, 214, 0.3);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    position: relative;
    width: 70%;
    max-height: 0px;
    min-height: 100px;
    margin-bottom: 4px
}
.box img:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.title{
    color: #0DCAF0;
}
.description{
    color: rgba(255, 255, 255, 0.3);
}
.rate{
    color: gold;
    width: 7%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.price{
    background-color: #0DCAF0;
    width: 18%;
    padding-left: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}

