<div class="container">
    <div class="cartBox">

        <h1 class="tex-danger">Products</h1>

        <div class="headCart">
            <p class="lead">we have <label class="text-info">{{products.length}}</label> product</p>
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Add</button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title text-dark fs-5" id="staticBackdropLabel">Add Product</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3 text-dark" [formGroup]="form">
                                <div class="col-md-6">
                                    <label for="" class="form-label text-dark">Title</label>
                                    <input type="text" formControlName="title" class="form-control" id="title">
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="form-label">Brand</label>
                                    <input type="text" formControlName="brand" class="form-control" id="brand">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">Price</label>
                                    <input type="number" formControlName="price" class="form-control" id="price">
                                </div>
                                <div class="col-md-8">
                                    <label for="" class="form-label">Image</label>
                                    <input type="file" formControlName="image" class="form-control" id="image">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" [disabled]="!form.valid"
                                (click)="addproduct()">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>image</th>
                    <th>Name</th>
                    <th>brand</th>
                    <th>price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products | paginate: { itemsPerPage: 9, currentPage: p }">
                    <td>{{item.id}}</td>
                    <td><img src="{{item.thumbnail}}" alt=""></td>
                    <td>{{item.title}}</td>
                    <td>{{item.brand}}</td>
                    <td>{{item.price}} $</td>
                    <td>
                        <button class="btn btn-info mx-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        (click)="updateProduct(item)">Edit</button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title text-dark fs-5" id="staticBackdropLabel2">Update Product
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <label class="text-dark" for="">Name</label>
                                        <input class="form-control my-2" placeholder="" [(ngModel)]="item.title" name="name">

                                        <label class="text-dark" for="">Price</label>
                                        <input class="form-control my-2" placeholder="" [(ngModel)]="item.price"
                                            name="price">
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="success()">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </td>
                    <td><button class="btn btn-danger" (click)="deleteProduct(item)">Delete</button></td>
                </tr>
            </tbody>

        </table>
        <pagination-controls class="text-center my-5" (pageChange)="p = $event"></pagination-controls>

    </div>
</div>